portal/web/external
portal/web/scripts
web/external/clickmenu
web/js/**
!web/js/extraeffects.js
!web/js/admin_database*.js
!web/js/database_causes.js
!web/js/database_events.js
!web/js/database_geography.js
!web/js/database_geolevels.js
!web/js/database_users.js
!web/js/database_upload.js
!web/js/datacards.js
!web/js/userperm_admin.js
!web/js/thematicmap.js
!web/js/stat_params.js
!web/js/statistic.js
!web/js/query_design.js
web/external/**
web/templates/**
web/scripts/**
**/vendor
**/node_modules
