test/*
web/test/*
util/*.csv
setup/*
Setup/*
Thumbs.db
thumbs.db
nbproject
*.komodoproject
*.sublime-*
.idea
vendor/*
config/*_local.*
node_modules
.vscode
npm-debug.log
bower_components
web/scripts/bundle.js
