parameters:
  autoload_files:
    - vendor/autoload.php
  level:
    7
  ignoreErrors:
    - '#Call to an undefined method PDO::sqliteCreateFunction()#'
    - '#Call to an undefined method Aura\\SqlQuery\\Common\\InsertInterface\:\:addRow\(\)#'
  excludes_analyse:
    - %rootDir%/../../../web/*.php
    - %rootDir%/../../../web/include/*
    - %rootDir%/../../../src/DesInventar/Legacy/Model/Model.php
    - %rootDir%/../../../src/DesInventar/Legacy/Model/Record.php
