<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
    bootstrap="bootstrap.php"
    executionOrder="random"
    resolveDependencies="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
    <php>
      <env name="DESINVENTAR_FLAGS_ENV" value="test" force="true" />
    </php>
</phpunit>
