dl.accordion{margin:0;padding:0;overflow:hidden;}
dl.accordion dt
{
	-moz-border-radius-topLeft:6px;
	_width:100%;/*hack for IE*/
	cursor:pointer;display:block;cursor:hand;margin:0;padding:0;padding:3px 6px;background:#999480;color:white;
	border-left:solid 1px #cccccc;
	border-top:solid 1px #f0f0f0;
	border-right:solid 1px #222222;
	border-bottom:solid 1px #222222;
	filter:progid:DXImageTransform.Microsoft.Gradient(  GradientType=1,StartColorStr=#999480, EndColorStr=#DBDBDB);
}

dl.accordion dt.hover
{
	filter:progid:DXImageTransform.Microsoft.Gradient(  GradientType=1,StartColorStr=#555555, EndColorStr=#DBDBDB);
	background:#555555;
}

dl.accordion dt.collapsing
{
	filter:progid:DXImageTransform.Microsoft.Gradient(  GradientType=1,StartColorStr=#31324A, EndColorStr=#DBDBDB);
	background:#31324A;
}
dl.accordion dt.expanding
{
	filter:progid:DXImageTransform.Microsoft.Gradient(  GradientType=1,StartColorStr=#333366, EndColorStr=#DBDBDB);
	background:#333366;
}

dl.accordion dd{margin:0;padding:0;border:solid 1px #aaaaaa;border-bottom:inset 3px #aaaaaa;padding:6px;line-height:1.4;overflow:auto;}
dl.accordion dd.default{height:auto;display:block;}
dl.accordion dd.default_close{display:none;}
