.bnew {
	background-image: url(../images/newicon.png) !important;
	background-repeat: no-repeat; background-position: top center; width: 22px; height: 22px;
}
.bupd {
	background-image: url(../images/updateicon.png) !important;
	background-repeat: no-repeat; background-position: top center; width: 22px; height: 22px;
}
.bcancel {
	background-image: url(../images/cancelicon.png) !important; 
	background-repeat: no-repeat; background-position: top center; width: 22px; height: 22px;
}
.bclear {
	background-image: url(../images/cleanicon.png) !important; 
	background-repeat: no-repeat; background-position: top center; width: 22px; height: 22px;
}
.bfind {
	background-image: url(../images/findicon.png) !important;
	background-repeat: no-repeat; background-position: top center; width: 22px; height: 22px;
}
.bsave {
	background-image: url(../images/saveicon.png) !important;
	background-repeat: no-repeat; background-position: top center; width: 22px; height: 22px;
}
.bprint {
	background-image: url(../images/printicon.png) !important;
	background-repeat: no-repeat; background-position: top center; width: 22px; height: 22px;
}
