<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="bootstrap.php">
    <php>
        <var name="DESINVENTAR_TEST_URL" value="http://web:80/" />
        <var name="DESINVENTAR_TEST_API_URL" value="http://web:80/api/" />
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>UnitTest</directory>
        </testsuite>
    </testsuites>
</phpunit>
